* {
    padding: 0;
    margin: 0;
}

@font-face
{
font-family: FZHY;
src: url("./FZCHYK.TTF");
 }

body
{
    display: flex;
    justify-content: center;
     /* 让弹性内容中心对齐 */
    align-items: center;
    height: 750px;
    background-color: #292b32;
    flex-direction: column;
    /* 这样能弄个标题出来 */
}

.main
{
    height: 410px;
    width: 190px;
    margin-top: 86px;
    background-color: aliceblue;
}

.title
{
    margin-top: -64px;
    display: flex;
    font: 800 70px FZHY;
}